body {
  color: #000;
  background: #fff !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #000 !important;
}

p {
  color: #3c3c42;
}

td {
  color: #000 !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background: #e8e8e8 !important;
}

.label-info {
  background: #fff !important;
}

.media-heading {
  color: #000 !important;
}

.ln {
  background: #e8e8e8 !important;
  color: #3c3c42 !important;
}

.ra {
  background: #fff !important;
}

.ra p, .ra span {
  color: #000;
}

.jumbotron {
  background: #fff !important;
  color: #000 !important;
}

.label-danger {
  color: #fff !important;
}

.circle-text {
  border: 2px solid #000000 !important;
  color: #282c34 !important;
  -webkit-box-shadow: 0 0 10px 2px #7b7b81 !important;
          box-shadow: 0 0 10px 2px #7b7b81 !important;
}

.getting-row {
  color: #000 !important;
}

.getting-row .btn {
  color: #000 !important;
  background: transparent !important;
  border: 1px solid #3c3c42 !important;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #000 !important;
  border: 1px solid #e8e8e8 !important;
  background: #e8e8e8 !important;
}
