@import "vars";

body {
  color: $color1 !important;
  background: $bg1 !important;
}

//.navbar-default {
//  background: #424245;
//}
//
//.navbar-nav > .active {
//  border-bottom: #424245;
//}
//
//.navbar-default .navbar-nav > li > a {
//  color: #f2f2f2;
//}

//.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
//  color: #424245;
//  background-color: #424245;
//}

//.collapse .navbar-collapse .navbar-left {
//  background: #424245;
//}

//.dropdown-menu > li > a {
//  color: #424245;
//}

//.dropdown-menu {
//  -webkit-box-shadow: #424245 0px 2px 10px 1px;
//          box-shadow: #424245 0px 2px 10px 1px;
//}

//.pull-left {
//  color: #424245;
//}

h1, h2, h3, h4, h5, h6 {
  color: $color1 !important;
}

span {
  color: $color2 !important;
}

p {
  color: $color2!important;
}

//a {
//  color: #424245;
//}

td {
  color: $color1!important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background: $color3 !important;
}

.label-info {
  background: $bg1 !important;
}

.media-heading {
  color: $color1 !important;
}

.ln {
  background: $color3 !important;
  color: $color2 !important;
}

.ra {
  background: $bg1 !important;
  color: $color2 !important;
}

.jumbotron {
  background: $bg1 !important;
  color: $color1 !important;
}
