body {
  color: #000;
  background: #fff !important
}


.navbar-default {
  background: #f8f8f8;
  color:#777;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: #e7e7e7 !important;
  color: #777777 !important;
}
.navbar-default .navbar-nav>li>a {
  color: #777777 !important;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background: #e7e7e7 !important;
  color: #777777 !important;
}
li.pull-left .btn  {
  background: #f8f8f8 !important;
}

.nav .navbar-nav ul:nth-child(6) li:nth-child(6) {
  color:#fff !important;
}


h1, h2, h3, h4, h5, h6 {
  color: #000 !important
}

p {
  color: #3c3c42
}

td {
  color: #000 !important
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background: #f5f5f5 !important;
}


hr {
  border-color: #f5f5f5 !important	;
  border-top: 1px solid #f5f5f5 !important	;
}

.media-heading {
  color: #000 !important
}

.ln {
  background: #e8e8e8 !important
}

.ln, .ra {
  color: #3c3c42 !important
}

.jumbotron, .ra {
  background: #fff !important
}

.jumbotron {
  color: #000 !important
}

.label-danger {
  color: #000
}
